<!DOCTYPE html>
<html>
<head>
    <title>Members Login</title>
	<meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <header>
            <span id="logo"></span>
            <h1>members login:</h1>
            <form>
                <input type="text" value="Your Name" />
                <input type="text" value="Email Id" />
                <input type="button" value="GO" />
            </form>
        </header>
        <section>
            <article>
                    <h2>about total managment?</h2>
                <p>
                    Total managment is a free, tableless, W3C-comliant web design layout by Template<br /> World.
                    This template has been tested and proven compatible with all major browser<br /> environments
                    and operating systems. You are free to modify the design to suit your<br /> tastes in any way
                    you like.
                </p>
                <p>
                    We only ask you to not remove <strong>"Design by Template World"</strong> and the link<br />
                    <a href="#">http://www.templateworld.com</a> from the footer of the template.<br />
                    If you are interested in seeing more of out free web designs feel free to visit our<br />
                    website, Template World. We intend to add at least 25 new templates in the coming<br />
                    month.
                </p>
            </article>
        </section>
    </div>
</body>
</html>
