<!DOCTYPE html>
<html>
<head>
    <title>Laptop store</title>
	<meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Toshiba</a></li>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">Dell</a></li>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Acer</a></li>
                <li><a href="#">HP</a></li>
            </ul>
        </nav>
        <hr />
        <section>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <img src="images/laptop.png" />
                <div>64GB SSD</div>
                <div>2GB DDR</div>
                <div>
                    <span>1300 USD</span>
                    <span>Intel Core i<sub>5</sub></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <img src="images/laptop.png" />
                <div>64GB SSD</div>
                <div>2GB DDR</div>
                <div>
                    <span>1300 USD</span>
                    <span>Intel Core i<sub>5</sub></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <img src="images/laptop.png" />
                <div>64GB SSD</div>
                <div>2GB DDR</div>
                <div>
                    <span>1300 USD</span>
                    <span>Intel Core i<sub>5</sub></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <img src="images/laptop.png" />
                <div>64GB SSD</div>
                <div>2GB DDR</div>
                <div>
                    <span>1300 USD</span>
                    <span>Intel Core i<sub>5</sub></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <img src="images/laptop.png" />
                <div>64GB SSD</div>
                <div>2GB DDR</div>
                <div>
                    <span>1300 USD</span>
                    <span>Intel Core i<sub>5</sub></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Apple MacBook Air</legend>
                <img src="images/laptop.png" />
                <div>64GB SSD</div>
                <div>2GB DDR</div>
                <div>
                    <span>1300 USD</span>
                    <span>Intel Core i<sub>5</sub></span>
                </div>
            </fieldset>
        </section>
        <aside>
            <div>
                <span>Min price:</span>
                <span>500<sup>USD</sup></span>
                <input type="range" min="500" max="1500" />
            </div>
            <div>
                <span>Max price:</span>
                <span>500<sup>USD</sup></span>
                <input type="range" min="0" max="500" />
            </div>
            <div>
                <span>Min RAM:</span>
                <span>4<sup>GB</sup></span>
                <input type="range" min="4" max="16" />
            </div>
            <div>
                <span>Max RAM</span>
                <span>16<sup>GB</sup></span>
                <input type="range" min="4" max="16" />
            </div>
        </aside>
    </div>
</body>
</html>
