<!DOCTYPE html>
<html>
<head>
    <title>Tree view</title>
	<meta charset="utf-8" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul id="mainList">
            <li>
                <a href="#">List item</a> 
                <ul class="subList">
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                </ul>
            </li>
            <li>
                <a href="#">List item</a> 
                <ul class="subList">
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                </ul>
            </li>
            <li>
                <a href="#">List item</a> 
                <ul class="subList">
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                </ul>
            </li>
            <li>
                <a href="#">List item</a> 
                <ul class="subList">
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                    <li><a href="#">Sublist item</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>
